header{
    background-color: rgb(237, 116, 72);
    align-items: center;
    font-family: 'Shadows Into Light', cursive;
}

footer{
    background-color: rgb(237, 116, 72);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

main{
    text-align: center;
    list-style-position: inside;
    font-family: 'Shadows Into Light', cursive;
}

img{
    padding: 1em;
}